<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nmatte.mood.moodlog" >

    <application
        android:name="com.nmatte.mood.ChartApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light"
        >

        <activity android:name="com.nmatte.mood.controllers.chart.ChartActivity"
            android:theme="@style/AppTheme">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>


        <activity android:name="com.nmatte.mood.reminders.ReminderActivity"/>
        <activity android:name="com.nmatte.mood.util.TestActivity"/>
        <activity android:name="com.nmatte.mood.controllers.SettingsActivity"
            android:windowSoftInputMode="stateHidden"/>
        
        <receiver android:name="com.nmatte.mood.reminders.AlarmManagerHelper">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <provider
            android:name="com.nmatte.mood.providers.ComponentProvider"
            android:authorities="com.nmatte.mood.comp_provider" />
        <provider
            android:name="com.nmatte.mood.providers.ModuleProvider"
            android:authorities="com.nmatte.mood.mod_provider" />
        <provider
            android:name="com.nmatte.mood.providers.EntryProvider"
            android:authorities="com.nmatte.mood.entry_provider" />
        <provider
            android:name="com.nmatte.mood.providers.ColumnProvider"
            android:authorities="com.nmatte.mood.col_provider" />

        <service android:name="com.nmatte.mood.reminders.ReminderService"/>
    </application>


    <uses-permission android:name="ANDROID.PERMISSION.RECEIVE_BOOT_COMPLETED"/>
</manifest>
